/* ANIMATION */

/* TXT SLIDEUP ANIMATION - fait apparaitre le text vers le haut */

span.slideup__animation > span {
  animation: slideup;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.37, 0.28, 1);
  display: block;
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Bouncing btn */

.gelatine {
  animation: gelatine 3s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Border animation */

.border_anim {
  animation: border 10s linear infinite;
}

@keyframes border {
  0% {
    border: solid var(--accent-color);
  }

  50% {
    border: solid white;
  }

  100% {
    border: solid var(--accent-color);
  }
}
