/* ANIMATION */

/* Title  flip - fait derouler 3 div vers le bas avec un overflow hidden en haut et en bas pour afficher un seul div*/

.flip-container {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-size: 36px;
  font-weight: bold;
  justify-content: center;
  position: fixed;
  top: rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: JetBrains Mono;
}

.flip {
  height: 60px;
  overflow: hidden;
  font-family: "Jersey 25";
}

.flip div div {
  color: var(--accent-color);
  margin-bottom: 50px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 7s linear infinite;
  animation-delay: 1.5s;
}

.flip div div {
  border-radius: 40px;
}

.flip div:first-child div {
  border-radius: 40px;
}

.flip div:last-child div {
  border-radius: 40px;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  10% {
    margin-top: -180px;
  }

  20% {
    margin-top: -180px;
  }

  30% {
    margin-top: -90px;
  }

  40% {
    margin-top: -90px;
  }

  50% {
    margin-top: 0px;
  }

  60% {
    margin-top: 0px;
  }

  90% {
    margin-top: 90px;
  }

  99.9% {
    margin-top: 90px;
  }

  100% {
    margin-top: -270px;
  }
}

/* TXT SLIDEUP ANIMATION - fait apparaitre le text vers le haut */

span.slideup__animation > span {
  animation: slideup;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.37, 0.28, 1);
  display: block;
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Bouncing */

.gelatine {
  animation: gelatine 3s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Border animation */

.border_anim {
  animation: border 10s linear infinite;
}

@keyframes border {
  0% {
    border: solid var(--accent-color);
  }

  50% {
    border: solid white;
  }

  100% {
    border: solid var(--accent-color);
  }
}
