:root {
  --main-font: "Jetbrains Mono", serif;
  --accent-font: "Jersey 25", serif;
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jersey 25";
  src: url(../fonts/Jersey25-Regular.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
