:root {
  @media (max-width: 768px) {
    nav {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .header__burger {
      display: none;
    }

    main {
      gap: 3rem;
    }
  }
}
