@import "./css/import.css";

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1;
}

/* HEADER POSITIONING */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.header__left {
  padding: 0.5rem;
}

.header__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  padding-right: 0.5rem;
}

.header__btn__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  padding-right: 0.5rem;
  gap: 5px;
}

/* NAV BAR */

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav {
  display: flex;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
}

li {
  list-style: none;
}

li > a {
  font-family: var(--main-font);
  font-size: var(--fs-md);
  color: var(--main-color);
  transition: color 0.2s linear;
}

li > a:hover {
  color: var(--accent-color);
}

/* HEADER STYLING */

.header__btn--style {
  border-radius: 40px;
  padding: 3px 15px;
  border: solid var(--accent-color) 1px;
  text-align: center;

  font-size: var(--fs-sm);
  font-family: var(--main-font);
  color: var(--main-color);
}

/* TITLE AND SUBTITLE STYLING */

h1 {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--fs-xl);
}

h2 {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--fs-base);
}

/* CARD STYLING */

.main__card {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem auto;
  align-items: center;
  width: 12rem;
  border-radius: 25px;

  font-family: var(--accent-font);
  font-size: var(--fs-lg);
}

.main__card__img {
  height: 100px;
  width: 100px;
}

/* CTA STYLING */

.main__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  margin: 1rem auto;
  background-color: var(--accent-color);
  border-radius: 40px;
  color: black;
  font-family: var(--accent-font);
  font-size: var(--fs-lg);
}

/* FOOTER POSITIONING */

footer {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

/* FOOTER STYLING */

.footer__media {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.footer__rgpd {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.6rem;
  gap: 1rem;
}

.footer__rgpd__left a {
  color: grey;
  text-decoration: underline;
}
